.go {
    padding: 2cm 0.5cm;
}

.deep {
    margin-left: 100px;
}


.the {
    margin-left: 170px;
}

.deeper {
    margin-left: 350px;
}

.yougo {
    margin-left: 550px;
}

.themorelikely {
    margin-left: 700px;
}

.youwilldiscover {
    margin-left: 900px;
}


.somethingof {
    margin-left: 1300px;
}

.value {
    margin-left: 1600px;
    padding-left: 5cm;
}

#nudge {
    margin-left: 120px;
}

#nudge2 {
    margin-left: 250px;
}

#nudge3 {
    margin-left: 450px;
}

#nudge4 {
    margin-left: 650px;
}