.zindex {
    z-index: -1;
}




.refinement {
   position:fixed;
    width:100%;
    top:0%;
    text-align:left;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: #303030;
    float: left;
    padding: 8px 20px;
    text-decoration: none;
    transition: background-color .3s;
    border: 0px solid ##e0e0e0;
}

.pagination a:hover:not(.active) {background-color: #e0e0e0;}





.startingpoint {
    position: absolute;
    top: 400px;
    margin-left: -1px;
}

.startingpoint2 {
    position: absolute;
    top: 300px;
    margin-left: 70px;
}

.startingpoint3 {
    position: absolute;
    top: 200px;
    margin-left: 170px;
}

.startingpoint4 {
    position: absolute;
    top: 110px;
    margin-left: 300px;
}

.startingpoint5 {
    position: absolute;
    top: 70px;
    margin-left: 450px;
}

.startingpoint6 {
    position: absolute;
    top: 25px;
    margin-left: 650px;
}

.startingpoint7 {
    position: absolute;
    top: 320px;
    margin-left: 850px;
}

.startingpoint8 {
    position: absolute;
    top: 400px;
    margin-left: 980px;
}

.startingpoint9 {
    position: absolute;
    top: 200px;
    margin-left: 1200px;
}

.startingpoint10 {
    position: absolute;
    top: 100px;
    margin-left: 1150px;
}

.startingpoint11 {
    position: absolute;
    top: 10px;
    margin-left: 1400px;
}

.one {
    position: absolute;
    top: 3px;
    margin-left: 13px;
}

.two {
    position: absolute;
    top: -5px;
    margin-left: 15px;
}

.three {
    position: absolute;
    top: 6px;
    margin-left: -5px;
}

.four {
    position: absolute;
    top: 1px;
    margin-left: 9px;
}

.five {
    position: absolute;
    top:-8px;
    margin-left: 5px;
}

.six {
    position: absolute;
    top: 5px;
    margin-left: 12px;
}

.seven {
    position: absolute;
    top: -10px;
    margin-left: 20px;
}

.eight {
    position: absolute;
    top: 19px;
    margin-left: -12px;
}

.nine {
    position: absolute;
    top: -30px;
    margin-left: 14px;
}

.push1 {
    position: absolute;
    top: 13px;
    margin-left: 40px;
}

